<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="BillingERPConn" value="server=AALIM\AALIM;uid=sa;pwd=ait123;database=billGENIXDB"/>

    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>
