<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <!--<add name="DbBillingERPConnectionString" connectionString="server=202.4.117.56;uid=dev;pwd=aIT@321;database=billGENIXDB" providerName="System.Data.SqlClient" />-->
    <!--<add name="DbBillingERPConnectionString" connectionString="server=202.4.117.56;uid=dev;pwd=aIT@321;database=billGENIXDB" providerName="System.Data.SqlClient" />-->
    <add name="DbBillingERPConnectionString" connectionString="server=172.17.17.3;Initial Catalog=billGENIXDB;User ID=usr_api;Password=ApI2I$2$K$9*bO0j" providerName="System.Data.SqlClient"/>


  </connectionStrings>
  <appSettings>
    <add key="PwdEncryptable" value="False"/>
    
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>
