<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="DbBillingERPConnectionString" connectionString="server=10.191.167.158;uid=sa;pwd=Oj1ML1/EzEbqv9lOWf6ztg==;database=billGENIXDB" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="PwdEncryptable" value="True" />
		<add key="Interval" value="1" />
		<add key="smtp_host" value="202.4.96.7" />
		<add key="Port" value="25" />

	</appSettings>
	
  <runtime>
	
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	
          <dependentAssembly>
	
              <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
	
          </dependentAssembly>
	
      </assemblyBinding>
	
  </runtime>
</configuration>
