<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <!--<add name="DbBillingERPConnectionString" connectionString="server=202.4.117.51;Initial Catalog=billGENIXDB;User ID=sa;Password=zhQnCPnbnQG5EkpuJOHtO4LE96GT4Z+Y3jsqpEjLnqY=" providerName="System.Data.SqlClient"/>-->
    <add name="DbBillingERPConnectionString" connectionString="server=172.17.17.3;Initial Catalog=billGENIXDB_dev;User ID=usr_uat;Password=tA*1(d2)Jsw#632" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="PwdEncryptable" value="false"/>
    <!--<add key="BillingERPConn" value="server=HIRA-PC\SVR14;uid=sa;pwd=Password1;database=billGENIXDB" />-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
