<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
	<connectionStrings>
		 
		<add name="DbBillingERPConnectionString" connectionString="server=172.17.17.3;Initial Catalog=billGENIXDB;User ID=processor;Password=NPr9I$2$Ki9*mbO0" providerName="System.Data.SqlClient" />


	</connectionStrings>
	<appSettings>
		<add key="PwdEncryptable" value="False"/>
		<add key="DowngredProcessTime" value="11:00,10:00"/>


		<!--<add key="BillingERPConn" value="server=10.191.167.158;uid=sa;pwd=aIT@321;database=billGENIXDB" />-->

		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
</configuration>
